<h1 class="ml-3">Eat Da Burger!</h1>

<h2 class="ml-3">Ready to Eat!</h2>

<ul>
  {{#each burgers}} {{#unless devoured}} <p>{{> burgers/burger-block devoured=true}}</p> {{/unless}} {{/each}}
</ul>

  <h2 class="ml-3">Burgers Devoured!</h2>

  <ul class="w-25">
    {{#each burgers}} {{#if devoured}}
    <p>{{burger_name}} </p>{{/if}} {{/each}}
  </ul>



  <h2 class="ml-3">Hungry?</h2>
  <form class="ml-3 create-form">

    <div class="form-group">
      <input type="text" id="burger" name="burger_name"> <br>
      <button class="btn-primary" type="submit">Submit Order</button>
    </div>
  </form>